<html>
{% include 'navbar.html' %}
<div class="container my-5">
    <h1 class="mb-4">Water Services</h1>
    <p>Our water services focus on optimizing water usage and promoting sustainable water management practices in urban environments. We offer a range of solutions to help cities reduce water waste, improve efficiency, and enhance resilience against water-related challenges.</p>
    
    <h2 class="mt-5">Our Water Services Include:</h2>
    <ul>
        <li><strong>Water Audits:</strong> Comprehensive assessments of water usage in buildings and infrastructure to identify inefficiencies and opportunities for conservation.</li>
        <li><strong>Leak Detection:</strong> Advanced technologies to detect and address leaks in water systems, reducing waste and preventing damage.</li>
        <li><strong>Rainwater Harvesting:</strong> Design and implementation of systems to capture and utilize rainwater for non-potable uses, reducing reliance on municipal water supplies.</li>
        <li><strong>Greywater Recycling:</strong> Solutions for treating and reusing greywater from sinks, showers, and laundry for irrigation and other non-potable applications.</li>
        <li><strong>Water Efficiency Consulting:</strong> Expert advice on best practices for water conservation, including fixture upgrades, behavioral changes, and policy recommendations.</li>
        <li><strong>Water Generation</strong> via Atmospheric water harvesting, own your water supply reducing exposure to micro-plastics, contaminents and chemicals.</li>
        <li>Attenuation Tanks for storm water, overflow, greywater recycling and rainwater harvesting</li>
    </ul>

    <p>By implementing our water services, asset owners can significantly reduce their water footprint, save costs, and contribute to a more sustainable future. Contact us today to learn how we can help you optimize your water resources!</p>
</html>